* {
  border-radius: border-box; /* Inkluderar marginaler etc inuti elementet.*/
}

body {
  background-color: rgb(255, 255, 202);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  padding: 40px;
}


h1 {
  font-size: 60px;
  display: flex;
  flex-direction: column; /* Gör radbrytning efter varje ord */
  margin-bottom: 10px;
  line-height: 1,5;
}

nav {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 10px;
  line-height: 1.6;
}

.introduction {
  font-size: 30px;
  text-align: center;
}


img {
  height: auto;
  max-width: 100%;
}

a:link {
    text-decoration: none;
  }


footer {
  font-size: 12px;
  margin-top: auto; /* Placerar footern i botten */
}

/* PATTERN-MAKER
Om värdet i arrayen är 1 blir rutan blå, om den är 0 blir rutan vit. */
.container {
  display: flex; /* Lägger rutorna i rader */
}

.blue {
  width: 20px;
  height: 20px;
  background-color: rgb(55, 0, 255);
  border: 0.5px solid black;
}

.white {
  width: 20px;
  height: 20px;
  background-color: white;
  border: 0.5px solid black;
}

/* Responsiv med breakpoint 400px då läsplatta eller dator används.
- H1 blir större
- Länkar kursiveras då muspekaren hovrar över dem.
- Menyn åker upp och lägger sig högerställd.
*/

@media screen and (min-width: 400px) {
  h1 {
    font-size: 40px;
  }

  a:hover {
    font-style: italic;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: flex-end;
  }

  nav {
    
    text-align: right;
    justify-content: space-between;
  }

  .home {
    justify-content: flex-start;
  }

}
